<mat-card class="home mat-elevation-z4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">/</li>
            <li class="breadcrumb-item"><a routerLink="/Shorts">Shorts</a></li>
        </ol>
    </nav>
</mat-card>

<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Shorts Nike Dri-FIT <br> Run Division Flex <br> Stride Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Shorts/Shorts_Nike_Dri_FIT_Run_Division_Flex_Stride_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Shorts Nike Dri-FIT <br> Wild Run Challenger <br> Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Shorts/Shorts_Nike_Dri_FIT_Wild_Run_Challenger_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Shorts Nike Dri-FIT <br> Wild Run Flex Stride <br> Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Shorts/Shorts_Nike_Dri_FIT_Wild_Run_Flex_Stride_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>
    
</mat-grid-list>

