<mat-card class="home mat-elevation-z4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">/</li>
            <li class="breadcrumb-item"><a routerLink="/Camisetas">Camisetas</a></li>
        </ol>
    </nav>
</mat-card>

<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike SB Masculina <br> cor 1
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Skateboarding
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_SB_Masculina_COR_1">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike SB Masculina <br> cor 2
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Skateboarding
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_SB_Masculina_COR_2">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike SB Masculina <br> cor 3
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Skateboarding
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_SB_Masculina_COR_3">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Team <br> Kenya Dri-FIT Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Team_br_Kenya_Dri_FIT_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Team Kenya
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Rise 365 Masulina
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Team_Kenya">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Regata Nike Kenya Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Regata_Nike_Kenya_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Dri-FIT <br> Mixed Relays Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Dri_FIT_Mixed_Relays_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Team <br> USA Rise 365 Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Team_USA_Rise_365_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Regata Nike USA Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Regata_Nike_USA_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Regata Nike AeroSwift <br> Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Regata_Nike_AeroSwift_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Sportswear <br> Club Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Casual
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Sportswear_Club_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Yoga
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike <br> AeroSwift Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_AeroSwift_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Dri-FIT <br> Rise 365 Masculina Cor 1
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Dri_FIT_Rise_365_Masculina_1">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Dri-FIT <br> Rise 365 Masculina Cor 2
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Dri_FIT_Rise_365_Masculina_2">Click </a>
        </mat-card>
    </mat-grid-tile>  

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Dri-FIT <br> Rise 365 Masculina Cor 3
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Dri_FIT_Rise_365_Masculina_3">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camisa Nike <br> Corinthians I 2020/21 <br> Jogador Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Futebol
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camisa_Nike_Corinthians_I_2020_21_Jogador_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile> 

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camisa Nike <br> Red Bull Bragantino IV <br> 2021/22 Torcedor Unissex
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Futebol
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camisa_Nike_Red_Bull_Bragantino_IV_2021_22_Torcedor_Unissex">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Dri-FIT <br> Wild Run Miler Masculina <br> COR 1
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Dri_FIT_Wild_Run_Miler_Masculina_COR_1">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Dri-FIT <br> Wild Run Miler Masculina <br> COR 2
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Dri_FIT_Wild_Run_Miler_Masculina_COR_2">Click </a>
        </mat-card>
    </mat-grid-tile> 

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Dri-FIT <br> Wild Run Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Dri_FIT_Wild_Run_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Dri-FIT <br> Wild Run Miler Masculina <br> COR 3
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Dri_FIT_Wild_Run_Miler_Masculina_COR_3">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta Nike Dri-FIT <br> Wild Run Miler Masculina <br> COR 4
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Corrida
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_Nike_Dri_FIT_Wild_Run_Miler_Masculina_COR_4">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta NikeLab <br> Essentials Solo <br> Swoosh Masculina COR 1
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Casual
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_NikeLab_Essentials_Solo_Swoosh_Masculina_COR_1">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta NikeLab <br> Essentials Solo <br> Swoosh Masculina COR 2
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Casual
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_NikeLab_Essentials_Solo_Swoosh_Masculina_COR_2">Click </a>
        </mat-card>
    </mat-grid-tile> 

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Camiseta NikeLab <br> Essentials Solo <br> Swoosh Masculina COR 3
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Casual
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Camiseta_NikeLab_Essentials_Solo_Swoosh_Masculina_COR_3">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Regata Nike Kyrie <br> Irving Nets Icon <br> Edition 2020 Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Basquete
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Regata_Nike_Kyrie_Irving_Nets_Icon_Edition_2020_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Regata Nike Giannis <br> Antetokounmpo Bucks Icon <br> Edition 2020 Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Basquete
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Regata_Nike_Giannis_Antetokounmpo_Bucks_Icon_Edition_2020_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Regata Jordan Los Angeles <br> Lakers Statement Edition 2020 Masculina
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Basquete
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Regata_Jordan_Los_Angeles_Lakers_Statement_Edition_2020_Masculina">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Regata Nike Luka Doncic <br> Mavericks Icon Edition 2020
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Basquete
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Camisetas/Regata_Nike_Luka_Doncic_Mavericks_Icon_Edition_2020">Click </a>
        </mat-card>
    </mat-grid-tile> 



</mat-grid-list>