<mat-card class="home mat-elevation-z4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">/</li>
            <li class="breadcrumb-item"><a routerLink="/Jaqueta">Jaqueta & Moletons</a></li>
        </ol>
    </nav>
</mat-card>

<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Blusão Nike Sportswear Club <br> Crew Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Skateboarding
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Jaqueta/Blusao_Nike_Sportswear_Club_Crew_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Blusão Jordan Jumpman <br> Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Skateboarding
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Jaqueta/Blusao_Jordan_Jumpman_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Blusão Nike Sportswear <br> Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Skateboarding
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Jaqueta/Blusao_Nike_Sportswear_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>
    
</mat-grid-list>