<mat-card class="home mat-elevation-z4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">/</li>
            <li class="breadcrumb-item"><a routerLink="/Tenis">Tenis</a></li>
        </ol>
    </nav>
</mat-card>

<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Force 1 07 LV8
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Force_1_07_LV8">Click </a>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Force 1 '07 PRM <br> cor 1
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Force_1_07_PRM_COR_1">Click </a>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Force 1 Crater <br> cor 1
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Force_1_Crater_COR_1">Click </a>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Force 1 '07 <br> cor 1
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Force_1_07_COR_1">Click </a>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Max 90 <br> cor 1
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Max_90_COR_1">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Force 1 '07 PRM <br> cor 2
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tenis_Nike_Air_Force_1_07_PRM_COR_2">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Force 1 Crater <br> cor 2
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Force_1_Crater_COR_2">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Force 1 '07 <br> cor 2
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Force_1_07_COR_2">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Max 90 <br> cor 2
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Max_90_COR_2">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Max 95 Essential
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Max_95_Essential">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Court Royale 2 Low
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Court_Royale_2_Low">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Max SC
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Max_SC">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Court Legacy
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Court_Legacy">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike KD14 Unissex
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_KD14_Unissex">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike SB Zoom Stefan
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Janoski RM Unissex
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_SB_Zoom_Stefan">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike PG 5 Unissex
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_PG_5_Unissex">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Jordan Delta 2 Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Jordan_Delta_2_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Max Infinity 2
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Max_Infinity_2">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Max Impact 2
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Max_Impact_2">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Max 2021
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Max_2021">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike LeBron Witness 5
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_LeBron_Witness_5">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike LeBron Witness 6
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_LeBron_Witness_6">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Dunk High SE
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Dunk_High_SE">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike AF 1/1 Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_AF_1_1_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Max 90 <br> cor 3    
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Max_90_cor_3">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Air Force 1 '07 <br> cor 3
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Premium Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Air_Force_1_07_br_cor_3">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike AF1/1 Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_AF1_1_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike SB Zoom Blazer Mid
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Premium Unissex
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_SB_Zoom_Blazer_Mid">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Jordan MA2 Masculino
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Jordan_MA2_Masculino">Click </a>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="home mat-elevation-z4">
            <mat-card-title class="title">
                Tênis Nike Blazer Mid '77
            </mat-card-title>
            <mat-card-subtitle class="subtitle">
                Masculino
            </mat-card-subtitle>
            <a mat-raised-button color="primary" routerLink="/Tenis/Tênis_Nike_Blazer_Mid_77">Click </a>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>    